@model IEnumerable<DAX_FastFood.Areas.Admin.Models.Product>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@section MenuPage{
    <link rel="stylesheet" href="~/css/Menu_Page.css" />
    <main>
        <div class="container p-5" style="font-weight: bold;">
            <div class="productsList py-5">
                <div class="row">
                    <!-- Product 1 -->
                    @foreach (var item in Model)
                     {
                    <div class="col-md-4 p-0 mt-0">
                        <a href="">
                           
                                <div class="productItem px-5 py-4">
                                    <img src="@item.Image"
                                         alt="Deal Hời Mới Bạn" class="img-fluid productImg">
                                    <h5 class="text-dark mt-3 productTTitle">@item.ProductName</h5>
                                    <p class="productPrice mb-4">@item.Price₫</p>
                                    <a asp-action="Add" asp-controller="Cart" asp-route-Id="@item.ProductId" class="btn productOder">Đặt Hàng</a>
                                </div>
                          
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- gio hang -->
        <div class="cart-btn-container" >
            <button class="btn px-5 rounded-top cart-btn">
                <i class="bi bi-cart2 fs-4"></i>
                <a href="/Cart/Index" class="cart-text text-white">0 ₫</a>
            </button>
        </div>

    </main>
   
}


